<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>İŞLEM GERÇEKLEŞTİRİLDİ</title>
</head>
<body>
	<div style="margin-top: 30px; text-align: center;">
		<img
			src="https://images.vexels.com/media/users/3/157931/isolated/preview/604a0cadf94914c7ee6c6e552e9b4487-curved-check-mark-circle-icon.png"
			width="300" height="300"> <br> <br>
		<h1>
			<a th:text="${message}"></a>

		</h1>
		<br>
		<h3>
			<a href="/">ANA MENÜYE DÖN</a>
		</h3>
	</div>
	<div></div>
</body>
</html>
